body,html{
    margin:0;
    padding:0;
    width:90%;
    height:80%
}
.exmian{
    margin:30px;
    margin-left: 100px;
    /* border: 1px solid red; */
}
.table{
    /* border: 1px solid red; */
    width:70%;
    height:80%;
    margin-top:50px;
    margin-left: 60px;
}